<h2 class="getstarted"><%= link_to "Get Started!", signin_path, :class => "getstarted" %></h2>


<img id="chico" src="assets/chicomendes.png">
<img id="wangari" src="assets/Wangari.png">
<img id="jaques" src="assets/jaquescousteau.png">
<img class="earth" src="assets/spinningearth.gif">
<img id="rachel" src="assets/rachelcarsonbook.png">
<img id="teddy" src="assets/teddyroosevelt.png">
