<div id="show-container">
	<h1 id="lesson-title"><%= @lesson.title%></h1>
	<img id="char-image" src="/assets/chicomendessad.png">
	<div class="play-btn">
		<%= link_to "Begin", play_path(@lesson), :class =>"play-lnk" %>
	</div>
</div>