/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Application.html.erb*/
nav{
	width: 101%;
	height: 125px;
	background-color: #1CDB7F;
	margin-bottom: -21px;
	margin-left: -10px;
	margin-top: -10px;
	border-bottom: 5px outset #20F78F;
}
li{
	display: list-item;
}
#leftnav{
	width: 60%;
	float: left;
}
#rightnav{
	width: 40%;
	float: left;
}
.logo{
	font-family: 'Trade Winds', cursive;
	font-size: 100px;
	margin-top: -8px;
	margin-left: 2%;	
	padding-top: 45px;
	padding-left: 10px;
	color: #DEFF8C;
	text-shadow: 2px 2px #0F665B,
		2px -2px #0F665B,
		-2px 2px #0F665B,
		-2px -2px #0F665B;
	text-decoration: none;
}
.main_container {
	width: 101%;
	height: 748px;
	background-color: #4FEDEF;
	margin-bottom: -21px;
	margin-left: -10px;
 }
footer {
	width: 101%;
	height: 100px;
	background-color: #138275;
	margin-left: -10px;
	border-top: 2px ridge #0F665B;
	z-index: 3;
}
#cpyrt{
	color: #0F665B;	
	margin-top: 3%;
	margin-left: 1%;
}

/* app2.html.erb */
.logo2{
	font-family: 'Trade Winds', cursive;
	font-size:80px;
	margin-top: -8px;
	margin-left: 2%;	
	padding-top: 45px;
	padding-left: 10px;
	color: white;
	text-shadow: 2px 2px #0F665B,
		2px -2px #0F665B,
		-2px 2px #0F665B,
		-2px -2px #0F665B;
	text-decoration: none;
}
.main_container2 {
	width: 102%;
	height: 737px;
	background: url('/assets/paper2.jpg') center fixed;
	background-size: cover;
	top: 14%;
	margin-left: -10px;
	z-index: 3;
 }
 .spine{
 	opacity: 0.3;
 		position: relative;
 		left: 46%;
 		z-index: 2;
		width: 30px;
		height: 735px;
 		background: transparent url('/assets/spine.jpg');
 }
 .dropdown{
 		width: 55px;
 		height: 50px;
 		background: #6DF5FF url('/assets/menu.png') no-repeat center;
 		margin-left: 80%;
 		margin-top: 8%;
 }
 .dropdown-content{
 	position: fixed;
 	top: 11%;
 	right: 1%;
 	width: 9%;
 	height: 50px;
 	background-color: #1CDB7F;
 	margin-left: 76%;
 	display: none;
 	text-align: center;
 }
 .sgnout{
 	text-decoration: none;
 	color: white;
 	font-family: Garamond;
 	font-size: 18px;
 	font-weight: 800;
 	padding-top: 5%;
 }
 
 /* app3 */
 .main_container3 {
	width: 102%;
	height: 778px;
	box-shadow: 10px 10px 5px #888888;
	background: #4FEDEF url('/assets/wrldmp.png') center no-repeat;
	background-size: 88%;	
	top: 14%;
	margin-left: -10px;
	z-index: 2;
 }
 
/* app 4 */
.main_container4 {
	width: 102%;
	height: 748px;	
	top: 14%;
	margin-left: -10px;
	z-index: 2;
	font-family: 'Trade Winds', cursive;
 }