// Place all the styles related to the Teacher controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$tan: #C4B88F;
 $lt-grn: #CFEA96;
 $hlite: #FFFEF7;
 $drk-grn: #383F35;
 $pop: #6DF5FF;
 $ink: #2A313D;
 $logofont: 'Trade Winds', cursive;
 $df-font: 'Bad Script', cursive;
 $wel-font: 'Satisfy', cursive; 
 $hand: 'Coming Soon', cursive;


#left-col{
	width: 49%;
	float: left;
	margin-left: 5%;
	margin-top: -41%;
}
#right-col{
	width: 58%;
	float: left;
	margin-left: 57%;
	margin-top: -40%;
}
.imghldr{
	width: 200px;
	height: 292px;
	border: 1px solid grey;
	background: url('/assets/mcg.jpg') center no-repeat;
}
#classhdr{
	font-size: 50px;
	letter-spacing: 2px;
	font-family: $df-font;
	color: $ink;
	text-decoration: underline;
	margin-bottom: -3%;
	margin-top: 8%;
}
.classname{
	color: $ink;
	text-decoration: none;
	font-size: 30px;
	font-family: $df-font;
}
#classlist{
	width: 100%;
	height: 50px;
	background: transparent;
	color: $ink;
}
#cls-hldr{
	margin-bottom: 10%;
}
#btnbox{
	margin-left: 2%;
}
.lesson-btn{
	width: 30%;
	height: 27px;
	margin-top: 20px;
	padding-top: 2%;
	padding-bottom: 2%;	
	background: $pop;
	border: 2px outset #A3F8FF;
	border-radius: 0.5em;
	text-align: center;
	opacity: 0.8;
}
.link{
	color: $ink;
	text-decoration: none;
	font-family: $hand;
	font-size: 20px;
}
.welcome{
	font-family: $wel-font;
	margin-bottom: -3%;
	color: $ink;
	font-size: 40px;
}
.wel-name{
	font-family: $df-font;
	color: $ink;
}
#leafbox{
	position: relative;
	background: transparent url('/assets/leaf.png') center no-repeat;
	width: 60%;
	height: 300px;
	margin-top: -60%;
	margin-left: 27%;
	transform: rotate(-20deg); 
}
#leaftxt{
	width: 61%;
	border-radius: 50%;
	text-align: center;
	margin-left: 22%;
  margin-top: 9%;
  font-size: 20px;
  font-weight: 800;	
  color: $ink;
  line-height: 18px;
  font-family: helvetica;
}
#eco-hdr{
	margin-left: 32%;
  font-size: 25px;
  font-family: $hand;
}
#addclsslnk{
	color: $ink;
	text-decoration: none;
	font-family: $hand;
	font-size: 20px;
	margin-top: -1%;
}
#addclasscontent{
	display: none;
	margin-top: 2%;
}
.clss-frm-fld{
	background: white;
	height: 25px;
	width: 21%;
}
.clss-frm-btn{
	background: #CFEA96;
	height: 27px;
	border-radius: 0.5em;
}